body{
	background-color:#034769;
	font-family: "times new roman",serif,helvetica,verdana,arial,sans-serif;
	font-size: 11pt;
	color:#000000;
}

h1{
	margin-right:auto;
	margin-left:auto;
	font-weight:bold;
}

#noprint, #logo, #myfavorites{
	display:none;
}

h2{
	color:black;
}

a{
	color:black;
}